@use "../abstracts" as *;

.nav {
  position: sticky;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 100;

  &__list {
    list-style: none;

    display: flex;

    background-color: var(--color-black);
    height: rem(70);
    font-size: rem(24);

    & > li {
      flex: 1;

      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      &:not(:last-child) {
        border-right: rem(1) solid var(--color-white);
      }

      &::before {
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        // flex: 1;
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;
        // z-index: 10;

        transform: scaleY(0);
        transition: all 0.3s;
      }

      &:hover::before {
        background-color: var(--color-primary-dark);
        transform: scaleY(1);
      }

      a,
      a:link,
      a:visited {
        flex: 1;
        height: 100%;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--color-white);
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__item--active {
    background-color: var(--color-primary-dark);
  }
}

.nav-animation {
  animation: fade-out-and-in 2s;
}
