@use "../abstracts" as *;

.project-card {
  max-width: rem(400);
  perspective: rem(1500);

  position: relative;

  &__side {
    background-color: #1fbe34; // TEST
    backface-visibility: hidden;
    border-radius: rem(5);
    box-shadow: $default-border-radius;
    overflow: hidden;
    transition: all 0.8s;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--back {
      transform: rotateY(180deg);
    }
  }

  &:hover &__side {
    &--front {
      transform: rotateY(180deg);
    }

    &--back {
      transform: rotateY(360deg);
    }
  }
}
