*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
}

body {
  box-sizing: border-box;
}

::selection {
  // background-color: #ffff00; // TEST
  // color: #00ffff; // TEST
}
