@use "../abstracts" as *;

.heading-primary {
  font-size: rem(64);
  color: var(--color-primary-light);
  text-transform: uppercase;
}

.heading-secondary {
  font-size: rem(36);
  color: var(--color-primary);
  text-transform: uppercase;
}

.heading-tertiary {
  font-size: rem(20);
  color: var(--color-primary);
  text-transform: uppercase;
}
