@use "functions" as *;

// COLORS
:root {
  --color-primary: rgb(254, 143, 143);
  --color-primary-light: rgb(252, 210, 209);
  --color-primary-dark: rgb(255, 92, 88);

  --color-secondary: rgb(56, 163, 165);
  --color-secondary-light: rgb(87, 204, 153);
  --color-secondary-dark: rgb(34, 87, 122);

  --color-tertiary: rgb(61, 86, 178);
  --color-tertiary-light: rgb(92, 122, 234);
  --color-tertiary-dark: rgb(20, 39, 155);

  --color-header-background-light: rgba(252, 210, 209, 0.7);
  --color-header-background-dark: rgba(255, 92, 88, 0.7);

  --color-grey-light-1: #ececec;

  --color-grey-dark-1: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --color-white: #fff;
  --color-black: #000;
}

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// FONT SIZES
$default-font-size: rem(16);

// BORDER RADIUS
$default-border-radius: 0 0 rem(10) rgba($color-grey-dark-1, 0.5);
