// COLORS
:root {
  --color-primary: rgb(254, 143, 143);
  --color-primary-light: rgb(252, 210, 209);
  --color-primary-dark: rgb(255, 92, 88);

  --color-secondary: rgb(56, 163, 165);
  --color-secondary-light: rgb(87, 204, 153);
  --color-secondary-dark: rgb(34, 87, 122);

  --color-tertiary: rgb(61, 86, 178);
  --color-tertiary-light: rgb(92, 122, 234);
  --color-tertiary-dark: rgb(20, 39, 155);

  --color-header-background-light: rgba(252, 210, 209, 0.5);
  --color-header-background-dark: rgba(255, 92, 88, 0.5);
}
