@use "../abstracts" as *;

.projects {
  &__heading {
    text-align: center;
    background-color: var(--color-black);
    padding: rem(10) 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, rem(350));
    // justify-items: center;
    // align-items: center;
    justify-content: center;
    grid-gap: rem(40);
  }
}
